body {
    background-color: lightgrey;
    color: darkred;
    font-size: 20px;
}

#calendar{
    margin: auto;
}

#calendar, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    width: 150px;
    height: 80px;
    vertical-align: top;
}

caption {
    font-size: 30px;
    font-weight: bold;
}

.empty {
    background-color: darkred;
}
